.app1{
    
    padding: 20px;
    border-radius: 5px;
    
    
    height: 200vh;
    width: 100%;

    
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 500px;
    z-index: 2;
    

}
.mask{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}
.textarea{
    resize: none;
    width:500px;
    height:80px
}
.table1{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;


}
.table1 th {
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #778ca3
   }
   .table1 td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
   }
.btn1{
    border: 1px solid #09f;
    color:#09f;
}
.btn2{
    border: 1px solid #f30;
    color:#f30;
}
.modalClose{
    
    text-align: right;

    
}
.toright{
    text-align: right;
}

